/*NOTE: This file is intended for programmers. Aspro technical support is not advised to work with him.*/

/* Examples (uncomment to use):*/

/* Expand site width */
/* body .wrapper { max-width: 1400px !important;  } */

/* Set site background image */
/* body {  background: url(image_source) top no-repeat; }

/* Hide compare button */
/* a.compare_item { display: none !important;  }*/

.item-views.tizers .item-wrapper>.item .image {
    max-height: 60px;
}

/*.wrap_icon.wrap_basket.baskets.top_basket {*/
/*    display: none!important;*/
/*}*/
.partnersBlock a {
    pointer-events: none;
}


.izh_menu {
    background: #393185!important;
}

.izh_menu > .mega-menu table td:hover{
    background-color: #574bca!important;
}

.izh_menu .mega-menu table .wide_menu .dropdown-menu li>a:hover, .izh_menu .mega-menu table .wide_menu .dropdown-submenu:hover>a {
    color: #393185!important;
}
